html {
  box-sizing: border-box;
  background-color: #1572b6;
  font-size: 150%;
  font-family: sans-serif;
  color: #fff;
  scroll-snap-type: y proximity;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.titulares {
  background-color: #33a9dc;
  color: white;
  padding: 1rem;
}

.header-nav {
  width: 100vw;
}

.header-ul {
  list-style: none;
  background-color: #1572b6;
  margin: 1rem;
}

.header-li a {
  text-decoration: none;
  color: white;
}

.header-li:hover {
  background-color: #0c4269;
}

main {
  flex-grow: 1;
}

@media screen and (min-width:1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header-ul {
    display: flex;
    margin: 0;
  }

  .header-nav {
    width: auto;
  }

  .header-li {
    padding: .5rem;
  }
}

.hero-image {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/fondo.jpg");
  scroll-snap-align: center;
}

.hero-image div {
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.50);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
}

.hero-image h1 {
  font-size: 5vw;
}

.logo {
  width: 4rem;
  height: 4rem;
}