html {
  box-sizing: border-box;
  background-color: #1572b6;
  font-size: 1.5vw;
  font-family: monospace;
  color: #fff;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  text-align: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #33a9dc;
  color: white;
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex-grow: 1;
  font-size: 4vw;
}

footer {
  background-color: #33a9dc;
  font-size: .8vw;
  padding: .3rem;
}

.main-p {
  display: none;
}

.header-nav {
  width: 100vw;
  font-size: 7vw;
}

.header-ul {
  list-style: none;
}

.header-li a {
  display: block;
  border: thin solid #2f87cc;
  background-color: #1572b6;
  color: white;
  text-decoration: none;
  padding: 1rem;
}

.header-li a:hover {
  background-color: #0c4269;
}

.hero-image {
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/fondo.jpg");
}

.hero-image div {
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image h1 {
  font-size: 5vw;
}

.logo {
  max-width: 30vw;
  height: auto;
  padding: 1rem;
}

.main-article {
  margin: 2rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-item {
  margin: 1rem;
}

.flex-container img {
  width: 400px;
}

.flex-responsive {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.flex-responsive-item {
  border: thin solid #2f87cc;
  flex: 1 1 600px;
}

.flex-responsive-item:hover {
  background-color: #0c4269;
}

@media screen and (min-width:1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
  }

  main {
    font-size: 1.8vw;
  }

  img {
    max-width: 20.8vw;
  }

  .logo {
    max-width: 10vw;
    height: auto;
    padding: 0;
  }

  .header-nav {
    width: auto;
    font-size: 2vw;
  }

  .header-ul {
    display: flex;
  }

  .flex-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .flex-item {
    display: flex;
    justify-content: center;
    width: 40vw;
  }

  .flex-order-1 {
    order: -1
  }
}