html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(40, 40, 40);
  font-size: 150%;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  text-align: center;
  background-color: rgb(255, 238, 188);
  border: rgb(249, 204, 157);
}

.container {
  background-color: rgb(249, 204, 157);
  height: 30vh;
  margin: 2rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row nowrap;
  justify-content:space-evenly;
  align-items: stretch;
  align-content: flex-start;
}

.minicontainer {
  width: 1000px;
  margin: 2rem auto;
}

.nowrap {
  flex-wrap: nowrap;
}

.item {
  width: 100px;
  border: solid rgb(160, 198, 232) medium;
  background-color: rgb(196, 223, 184);

  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.item:nth-child(2) {
  font-size: 250%;

  flex-grow:3;

}

.item:nth-child(3) {
  flex-grow: 2;

}

.item:nth-child(17) {
  font-size: 250%;
}

.item2 {
  border: solid rgb(160, 198, 232) medium;
  background-color: rgb(196, 223, 184);

  flex-shrink: 1;
}

.item2:nth-child(2) {
  flex-shrink: 2;
}

.item3 {
  border: solid rgb(160, 198, 232) medium;
  background-color: rgb(196, 223, 184);

  flex-basis: 20%;
  flex: 0 1 20%;
}

.item3:nth-child(2) {
  order: -1;
}

